<div id="section_video" class="page-header" style="background-image: url('./assets/img/trapped-1582002_1920.jpg');">
    <!--<div class="filter"></div> -->
    <div class="content-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h1 class="title"> We Lift It</h1>
                    <button class="btn btn-lg btn-neutral">
                      <i class="fa fa-play"></i>
                      Load Video
                    </button>
                    <!--<h5 class="description">Now you have no excuses, it's time to surprise your clients, your competitors, and why not, the world. You probably won't have a better chance to show off all your potential if it's not by designing a website for your own agency or
                        web studio.</h5>
                    <br />-->
                </div>
            </div>
        </div>
    </div>
</div>