<div id="section_contact" class="section section-responsive section-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="phone-container">
                    <img src="./assets/img/presentation-page/responsive.png" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-contact no-transition">
                    <h3 class="card-title text-center">Get in touch</h3>
                    <div class="row">
                        <div class="col-md-12 mr-auto">
                            <form role="form" id="contact-form" method="post">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                <label class="control-label">First name</label>
                                                <input type="text" name="name" class="form-control" placeholder="First Name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Last name</label>
                                                <input type="text" name="name" class="form-control" placeholder="Last Name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group label-floating">
                                        <label class="control-label">Email address</label>
                                        <input type="email" name="email" class="form-control" placeholder="Email" />
                                    </div>
                                    <div class="form-group label-floating">
                                        <label class="control-label">Your message</label>
                                        <textarea name="message" class="form-control" id="message" rows="6" placeholder="Message"></textarea>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                                <input class="form-check-input" type="checkbox" value="" checked>
                                                                I'm not a robot !
                                                                <span class="form-check-sign"></span>
                                                            </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-primary pull-right">Send Message</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>